<div *ngIf="selectedEvent ">
<h2>{{selectedEvent.name}}</h2>

<p>
⏰ {{selectedEvent.startdate }} - {{selectedEvent.enddate}} <br/>
Organizzato da : {{selectedEvent.org}} <br/>
🗺: {{selectedEvent.place}} <br/>
</p>
<a routerLink="edit" routerLinkActive="active">Modifica</a>
<a routerLink="/events" routerLinkActive="active">Lista Eventi</a>
<button type="button" (click)="deleteEvent()">Elimina</button>

<h3>Tavoli</h3>
<ul>
  <li *ngFor="let table of selectedEvent.tables" >
      <button type="button"
        (click)="removeTable(table.id)"
      >Remove Table</button>
      {{table.game}}

      <button type="button"
        (click)="subscribe(table.id)"
      >Iscriviti</button>
      <button type="button"
        (click)="unsubscribe(table.id)"
      >Disiscriviti</button>
      <br><pre>debug: {{table | json :spacing}}</pre>
  </li>
</ul>
<form [formGroup]="tableForm">
  <input type="text"
    formControlName="game"
  />
  <button type="button"
    (click)="addTable()"
    [disabled]="!tableForm.valid"
  >+</button>
</form>

</div>
