<div *ngIf="selectedEvent && !deleted">
<h2>{{selectedEvent.name}}</h2>

<p>
⏰ {{selectedEvent.startdate }} - {{selectedEvent.enddate}} <br/>
Organizzato da : {{selectedEvent.org}} <br/>
🗺: {{selectedEvent.place}} <br/>
</p>
<a routerLink="edit" routerLinkActive="active">Modifica</a>
<a routerLink="/events" routerLinkActive="active">Lista Eventi</a>
<button type="button" (click)="deleteEvent()">Elimina</button>


<h3>Tavoli</h3>
<ul>
  <li *ngFor="let table of selectedEvent.tables" > {{table.game}}
    <button type="button"
      (click)="removeTable(table.id)"
    >-</button>
  </li>
</ul>
<form [formGroup]="tableForm">
  <input type="text"
    formControlName="game"
  />
  <button type="button"
    (click)="addTable()"
    [disabled]="!tableForm.valid"
  >+</button>
</form>

</div>

<div *ngIf="deleted">
  Evento rimosso.
</div>
